@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif; 
}
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%; 
    overflow-x: hidden;
}

/*Menu */

.content {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c4246;

    padding-left: 30rem;
}

/* Logo */

.content .logo img {
    width: 400px; 
    height: auto; 
    cursor: pointer;
    margin-left: -30rem;
}
.content .lista-menu {
    width: 950px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.content .lista-menu li a {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: rgb(1, 108, 116);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}
.content .lista-menu li a:hover {
    background-color: #3333;
    border-bottom: 4px solid #ffc506;
    color: #ffc506;
}
/* descrição */


.desc {
    height: 7vh;
    width: 100vw;
    color: rgb(24, 22, 22);
    background-color: #01746e; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}


/* menu vertical  */

.menuvertical {
    width: 200px; 
    font-size: 1.7rem;
    padding-top: 20px; 
    color: rgb(97, 94, 94); 
}

.menuvertical a {
    display: flex; 
    padding: 10px 20px; 
    color: rgb(97, 94, 94); 
    text-decoration: none; 
}

.menuvertical a:hover {
    color: #000000;
}
 


